workflows/beands/002_AI_Analytics_Command.json
{
  "name": "AI Analytics Command",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.query }}",
        "options": {
          "systemMessage": "=Ты продуктовый менеджер с глубоким пониманием стартапов, анализа рынка и конкурентных стратегий. Ты умеешь находить перспективные ниши, определять болевые точки пользователей, оценивать конкурентов и предлагать стратегии для разработки успешного продукта.\n\nТвои задачи\n\t1.\tАнализ ниши: {{ $('When Executed by Another Workflow').item.json.query }}\n\t•\tДай чёткое определение рынка, в котором работает данный стартап.\n\t•\tОпредели основные тренды, ключевых игроков и перспективы роста.\n\t•\tРазбери целевую аудиторию: кто они, какие у них потребности, на что они обращают внимание?\n\t2.\tПроблемы и боли пользователей:\n\t•\tОпредели главные боли и неудовлетворённые потребности аудитории.\n\t•\tКакие решения они используют сейчас? В чём их недостатки?\n\t•\tЧто они ожидают от идеального решения?\n\t3.\tКонкурентный анализ:\n\t•\tОпредели главных конкурентов (прямых и косвенных).\n\t•\tКакие у них сильные и слабые стороны?\n\t•\tКакие уникальные преимущества у них есть?\n\t•\tВ чём их уязвимость, и как можно занять сильную позицию в нише?\n\t4.\tРекомендации по продукту:\n\t•\tКакую ценность может принести новый продукт пользователям?\n\t•\tЧем он должен отличаться от конкурентов?\n\t•\tКакие ключевые функции или механики помогут сделать продукт востребованным?\n\t•\tКакие риски есть у стартапа в данной нише? Как их минимизировать?\n\t5.\tОпределение формата продукта\n\t•\tКакой формат лучше всего решает задачи аудитории?\n\t•\tМобильное приложение?\n\t•\tВеб-приложение?\n\t•\tТелеграм-миниап?\n\t•\tПлагин, расширение или другая форма?\n\t•\tПочему именно этот формат? Чем он лучше для пользователей?\n\t6.\tФункционал MVP\n\t•\tКакие минимально необходимые функции должны быть в MVP, чтобы продукт начал решать проблему пользователей?\n\t•\tКакие функции можно отложить на последующие итерации?\n\t•\tКакие ключевые пользовательские сценарии должны быть проработаны в MVP?\n\t7.\tКлючевые метрики\n\t•\tКак понять, что MVP успешен?\n\t•\tКакие метрики и показатели критичны для анализа первых пользователей?\n\nФормат ответа\n\nДай структурированный анализ, разделяя его на логические блоки. Используй , списки и чёткие выводы. Если у тебя нет точных данных, делай разумные предположения, основанные на общей картине рынка.\n\nЕсли есть конкретная информация о стартапе, его идее или планах, учти это в анализе.\n\nОтветь строго в формате markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        512,
        0
      ],
      "id": "825dd454-9886-4628-b5a1-7684f76d8cba",
      "name": "Product manager AI Agent",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.query }}",
        "options": {
          "systemMessage": "=Ты – опытный технический эксперт и архитектор решений, специализирующийся на быстром запуске MVP и оптимальных технологических решениях для стартапов. Твоя основная задача – подобрать простой, быстрый и надежный технологический стек для реализации продукта.\n\nДоступные данные\n\nУ тебя есть вся необходимая информация о стартапе, нише, целевой аудитории, маркетинговой стратегии и формате продукта, который выбрал продакт-менеджер. Используй её для выбора оптимального стека.\n\t•\tОписание ниши стартапа: {{ $('When Executed by Another Workflow').item.json.query }}\n\t•\tОтчет продуктового менеджера:{{ $('Product manager AI Agent').item.json.output }} \n\t•\tОтчет маркетолога: {{ $json.output }}\n\t•\tВыбранный формат продукта: в оттчете product manager\n    • Выбирай только лучший No-code инструмент для ниши\n\nТвои задачи\n\t1.\tВыбор технологического стека\n\t•\tФронтенд:\n\t•\tЕсли мобильное приложение – FlutterFlow, bolt.new, v0.dev\n\t•\tЕсли веб-приложение – Webflow, Framer или Next.js (если требуется кастомизация).\n Если сайт - Craftum AI, CURSOR AI, bolt.new, v0.dev, \n\t•\tБэкенд:\n\t•\tВсегда использовать Supabase как единую базу данных и бэкенд.\n\t•\tДля автоматизаций и интеграций – n8n.\n\t•\tРазвертывание:\n\t•\tИспользовать Docker-контейнеры.\n\t•\tНе использовать Kubernetes или другие сложные оркестрационные системы.\n\t•\tЧего НЕ использовать:\n\t•\tRedis, MongoDB, GraphQL, сложные DevOps-решения – всё, что усложняет поддержку без реальной необходимости.\n\t2.\tОценка сроков\n\t•\tПримерное время на разработку MVP в зависимости от выбранного формата.\n\t•\tКакие этапы занимают больше всего времени и как их можно ускорить?\n\t•\tКакие технологии позволят быстрее всего выйти на рынок без потери качества?\n\nОтвет должен быть четким, структурированным, с объяснением выбора технологий и оценкой сроков.\n\nОтветь строго в формате markdown "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1200,
        0
      ],
      "id": "ce1f9edd-7d87-4884-915f-9084923ffd22",
      "name": "Tech expert AI Agent",
      "executeOnce": false,
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.query }}",
        "options": {
          "systemMessage": "=Ты – независимый аналитик, эксперт в оценке ниш, рыночных перспектив и бизнес-потенциала стартапов. Твоя задача – объективно проанализировать полученные данные, выявить ошибки и слабые места в отчётах, а затем вынести честный и обоснованный вердикт: стоит ли заходить в эту нишу или это провальная идея.\n\nДоступные данные\nНиша: {{ $('When Executed by Another Workflow').item.json.query }}\n\nТебе предоставлены три отчёта:\n\t•\tОтчёт продакт-менеджера: {{ $('Product manager AI Agent').item.json.output }}\n\t•\tОтчёт маркетолога: {{ $('Marketer AI Agent').item.json.output }}\n\t•\tОтчёт разработчика: {{ $json.output }}\n\nТвои задачи\n\t1.\tАнализ ниши и рыночных перспектив\n\t•\tДействительно ли у аудитории есть проблема, которую решает стартап?\n\t•\tНасколько эта проблема актуальна сейчас?\n\t•\tЕсть ли на рынке сильные игроки, которые полностью закрывают эту боль?\n\t•\tНасколько ниша перспективна в ближайшие 1-3 года?\n\t•\tЕсть ли потенциальные риски, из-за которых этот стартап может не взлететь?\n\t2.\tАнализ маркетинговых аспектов\n\t•\tНасколько предложенная маркетинговая стратегия реалистична?\n\t•\tДостаточно ли аудитории и спроса, чтобы можно было привлечь клиентов без огромных затрат?\n\t•\tРабочие ли предложенные рекламные крючки и боли?\n\t•\tКакие могут быть сложности с привлечением клиентов?\n\t3.\tОценка разработки и реалистичности MVP\n\t•\tНасколько выбранный стек технологий соответствует задаче?\n\t•\tРеально ли разработать MVP в разумные сроки (до 3 месяцев)?\n\t•\tЕсть ли технические сложности, о которых не сказано в отчёте?\n\t•\tНасколько легко этот продукт можно будет масштабировать при росте пользователей?\n\t4.\tВыявление ошибок в отчётах\n\t•\tЕсть ли противоречия между отчётами?\n\t•\tГде аналитика слабая, поверхностная или неубедительная?\n\t•\tКакие критически важные моменты упущены?\n\t5.\tФинальный вердикт\n\t•\tСтоит ли заходить в эту нишу? Если да – почему? Если нет – почему?\n\t•\tНасколько высокие риски? Что может пойти не так?\n\t•\tЧто можно улучшить в плане идеи, маркетинга или разработки, чтобы повысить шансы на успех?\n\t•\tОцени потенциал стартапа по 10-балльной шкале, аргументируя свою оценку.\n\nОтвет должен быть подробным, объективным и честным. Если ниша – плохая, напиши прямо, не смягчая формулировки. Если есть потенциальные проблемы, но их можно решить – предложи варианты.\n\nОтветь строго в формате markdown "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1552,
        0
      ],
      "id": "01c98761-6ca4-4fb5-bb9c-57edb712c373",
      "name": "Analytic AI Agent",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When Executed by Another Workflow').item.json.query }}",
        "options": {
          "systemMessage": "=Ты – маркетинговый эксперт, который не просто льёт трафик, а строит стратегию продвижения так, чтобы она реально работала. Ты знаешь, какие каналы дадут результат, где аудитория зависает и как сделать так, чтобы люди не просто увидели продукт, а захотели его попробовать.\nТы с сильной аналитической базой и пониманием digital-маркетинга, контентных стратегий и работы с трафиком. Ты специализируешься на продвижении стартапов, особенно через органический контент (Shorts, Reels, TikTok) и покупной трафик.\nТвоя задача – разработать маркетинговую стратегию, которая приведет пользователей к продукту.\n\nТвоя цель – разработать чёткий маркетинговый план, чтобы стартап не слил бюджет в трубу и быстро нашёл первых клиентов и \n\n📥 Входные данные:\n\t1.\tНиша стартапа: {{ $('When Executed by Another Workflow').item.json.query }}\n\t2.\tАнализ продуктового менеджера:{{ $json.output }} \n\n🔍 Что тебе нужно проанализировать?\n\n1️⃣ Кто наша аудитория? (Портрет и поведение)\n\t•\tКто эти люди? (возраст, профессия, уровень digital-грамотности).\n\t•\tГде они зависают? (соцсети, Telegram, YouTube, Reddit, LinkedIn?).\n\t•\tКак они принимают решения? (что заставит их купить или зарегистрироваться?).\n\nТвои задачи\n\t1.\tГлубокий анализ ниши с точки зрения маркетинга:\n\t•\tКак пользователи в данной нише принимают решение о покупке?\n\t•\tКакие маркетинговые каналы работают лучше всего?\n\t•\tКакие есть успешные примеры продвижения конкурентов?\n\t2.\tКонтентная стратегия с упором на видео (Shorts, Reels, TikTok):\n\t•\tКакие темы и форматы контента заходят в этой нише?\n\t•\tКак можно упаковать продукт в вирусные видео?\n\t•\tПримеры удачных стратегий в видеоформатах.\n\t3.\tКреативы и крючки:\n\t•\tКакие главные боли и эмоции у целевой аудитории можно использовать?\n\t•\tКакие истории и сценарии подойдут для рекламы?\n\t•\tКакие необычные подходы можно использовать, чтобы зацепить внимание?\n\t•\tКак интегрировать продукт в естественные ситуации?\n\t4.\tТрафик (платный + органика):\n\t•\tКакие рекламные каналы стоит протестировать в первую очередь?\n\t•\tКакой оффер использовать для холодной аудитории?\n\t•\tКак эффективно конвертировать органический трафик в продажи?\n\n💡 Важные нюансы:\n\t•\tЧётко, без воды, но с лёгким тоном.\n\t•\tПримеры работают лучше сухой теории. Если можно – давай аналоги.\n\t•\tРеалистичность. Если ниша сложная, лучше сразу сказать, что будет трудно, но дать рабочий вариант.\n\nОтветь строго в формате markdown "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        864,
        0
      ],
      "id": "a8301569-df7d-4ae7-b4e5-d6f0ea283a45",
      "name": "Marketer AI Agent",
      "retryOnFail": true,
      "executeOnce": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": 200146,
        "tableId": 484182,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 3811006,
              "fieldValue": "={{ $('When Executed by Another Workflow').item.json.query }}"
            },
            {
              "fieldId": 3822471,
              "fieldValue": "={{ $json.output }}"
            },
            {
              "fieldId": 4002905,
              "fieldValue": "={{ $('Tech expert AI Agent').item.json.output }}"
            },
            {
              "fieldId": 3822473,
              "fieldValue": "={{ $('Marketer AI Agent').item.json.output }}"
            },
            {
              "fieldId": 3822474,
              "fieldValue": "={{ $('Product manager AI Agent').item.json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        1920,
        -336
      ],
      "id": "88788f80-382e-41cf-b1cf-5ac604049748",
      "name": "Baserow",
      "credentials": {
        "baserowApi": {
          "id": "y4Na5LXmbh1nsFQ2",
          "name": "Baserow account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        48,
        -256
      ],
      "id": "e11acb44-21cd-4657-b62c-edc7759df719",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        400,
        224
      ],
      "id": "2d88924e-e671-44a9-847b-3e4dfcf4db40",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "YhWdFblBS0EqOY8F",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        864,
        288
      ],
      "id": "575bf03f-5473-4660-9c6a-7cd6d69a646b",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "cKvQTf7rNXtO8v5f",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-lite-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1200,
        288
      ],
      "id": "e8206c3d-d6e0-430c-bf86-a48fc027671e",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "cKvQTf7rNXtO8v5f",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1520,
        288
      ],
      "id": "c9932a73-4cb9-4fe1-90d4-2a9432ec9e4c",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "cKvQTf7rNXtO8v5f",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e770a2e8-c5de-46ed-95ff-d0abbcfd9855",
              "name": "response",
              "value": "=Анализ проведен. Мы добавили его в таблицу: https://docs.google.com/spreadsheets/d/1KAsLh8m9BUljVlMOCFSHzVeY2f-5rbIZxdOw7W5HYSY",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2128,
        0
      ],
      "id": "31ae50df-d1d0-4b70-9cd7-b2dbab6204c3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1KAsLh8m9BUljVlMOCFSHzVeY2f-5rbIZxdOw7W5HYSY",
          "mode": "list",
          "cachedResultName": "Отчет аналитиков",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KAsLh8m9BUljVlMOCFSHzVeY2f-5rbIZxdOw7W5HYSY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KAsLh8m9BUljVlMOCFSHzVeY2f-5rbIZxdOw7W5HYSY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Название": "={{ $json.output }}",
            "Продукт": "={{ $('Tech expert AI Agent').item.json.output }}",
            "Маркетинг": "={{ $('Marketer AI Agent').item.json.output }}",
            "Технический анализ": "={{ $('Product manager AI Agent').item.json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Название",
              "displayName": "Название",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Продукт",
              "displayName": "Продукт",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Маркетинг",
              "displayName": "Маркетинг",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Технический анализ",
              "displayName": "Технический анализ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1920,
        48
      ],
      "id": "5a0c63d1-1672-4725-9bf1-8cff6ed9ed3c",
      "name": "Google Sheets",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EjPWBysNE3160w4D",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Product manager AI Agent": {
      "main": [
        [
          {
            "node": "Marketer AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tech expert AI Agent": {
      "main": [
        [
          {
            "node": "Analytic AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analytic AI Agent": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marketer AI Agent": {
      "main": [
        [
          {
            "node": "Tech expert AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baserow": {
      "main": [
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Product manager AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Product manager AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Marketer AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Tech expert AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Analytic AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "441d4377-f74e-4eaa-a3f8-ef8cdfa6f6b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9231723f537d35de72b1fbd4c07c55060f6cd2f00b2fb8e91472f57ce50a95af"
  },
  "id": "mROZgGuKPSVlf3MX",
  "tags": []
}